
@{
    ViewBag.Title = "OAEDUploadpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")

<h1>Upload εγγράφου για επιβεβαίωση ανεργίας</h1>
<form action="" method="post" enctype="multipart/form-data">
    <h1>Ανέβασε το αρχείο</h1>
    <input type="file" name="file" id="file" />
    <input type="submit" class="button2" />
</form>


