
@{
    ViewBag.Title = "SignOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SignOut</h1>

<form>
    <div class="contentform">
        <p>Αποσυνδεθήκατε με επιτυχία!</p>
    </div>
</form>

