
@{
    ViewBag.Title = "SuccessfulRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Επιτυχία Εγγραφής</h1>

<form>

    <div class="form-group">
        
        <div class="col-md-offset-2 col-md-10">
            <p style="font-weight:bold;">Η εγγραφή ολοκληρώθηκε με επιτυχία!</p>
            Για να συνδεθείτε στην εφαρμογή:
            <a href="@Url.Action("SignIn","Home")" class="btn btn-danger" style="display:inline-block;width: 75%;">Είσοδος</a>
        </div>
    </div>
</form>

