@model IEnumerable<ePolitis.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>
<p>lorem ipsum blahh blahh blahh</p>
<p>Οι υπαλληλάρες του μήνα είναι:</p>
<ul>
    @foreach (var user in Model)
    {
        <li>@user.FirstName @user.LastName email: @user.Email</li>
    }
</ul>
