
@{
    ViewBag.Title = "IKAEkdosiAMA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")

<style>
    #content-ul {
        
        background-color: white;
    }


    #content-li1, #content-li3, #content-li2, #content-li4, #content-li5, #content-li6 {
        border-right: none;

    }
</style>

<h1>Έκδοση ΑΜΑ</h1>
<form>
    <h1>Δικαιολογητικά</h1>

    <div class="contentform">
        @*<div id="sendmessage"> Τα στοιχεία σας καταχωρήθηκαν με επιτυχία </div>*@
        <ul style="list-style-type:disc" id="content-ul">
            <li id="content-li1">Βεβαίωση Απασχόλησης, όπου θα αναγράφεται η ημερομηνία έναρξης. Το έγγραφο αυτό παραλαμβάνεται από το Γραφείο ΠΑ του ΤΜΧΑ/ΑΠΘ.</li>
            <li id="content-li2">Αστυνομική Ταυτότητα ή Διαβατήριο. Βεβαίωση Απόδοσης ΑΦΜ (ή αντίστοιχο έντυπο με το Α.Φ.Μ. και τη Δ.Ο.Υ., π.χ. εκκαθαριστικό).</li>
            <li id="content-li3">ΑΜΚΑ (Αριθμός Μητρώου Κοινωνικής Ασφάλισης).</li>
            <li id="content-li4">Αποδεικτικό Διαμονής (ενοικιαστήριο ή λογαριασμό ΔΕΗ).</li>
            <li id="content-li5">
                Για Ασφαλισμένους και σε άλλα ταμεία «Βεβαίωση» με ημερομηνία έναρξης
                και Αριθμό Μητρώου.
            </li>
            <li id="content-li6">
                Βιβλιάριο Τραπεζικός Λογαριασμός-φωτοτυπία της σελίδας που φαίνεται ο
                Τραπεζικός Λογαριασμός. (Νέο Δικαιολογητικό)
            </li>
        </ul>
    </div>
</form>