
@{
    ViewBag.Title = "IKAEkdosiAMA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")

<h1>Έκδοση ΑΜΑ</h1>
<form>
    <h1>Δικαιολογητικά</h1>

    <div class="contentform">
        <div id="sendmessage"> Τα στοιχεία σας καταχωρήθηκαν με επιτυχία </div>
        <ul>
            <li>Βεβαίωση Απασχόλησης, όπου θα αναγράφεται η ημερομηνία έναρξης. Το έγγραφο αυτό παραλαμβάνεται από το Γραφείο ΠΑ του ΤΜΧΑ/ΑΠΘ.</li>
            <li>Αστυνομική Ταυτότητα ή Διαβατήριο. Βεβαίωση Απόδοσης ΑΦΜ (ή αντίστοιχο έντυπο με το Α.Φ.Μ. και τη Δ.Ο.Υ., π.χ. εκκαθαριστικό).</li>
            <li>ΑΜΚΑ (Αριθμός Μητρώου Κοινωνικής Ασφάλισης).</li>
            <li>Αποδεικτικό Διαμονής (ενοικιαστήριο ή λογαριασμό ΔΕΗ).</li>
            <li>Για Ασφαλισμένους και σε άλλα ταμεία «Βεβαίωση» με ημερομηνία έναρξης
                και Αριθμό Μητρώου.</li>
            <li>Βιβλιάριο Τραπεζικός Λογαριασμός-φωτοτυπία της σελίδας που φαίνεται ο
               Τραπεζικός Λογαριασμός. (Νέο Δικαιολογητικό)</li>
        </ul>
    </div>
</form>