
@{
    ViewBag.Title = "OAEDBenefitFeatures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")

<style>
    .content-ul1 {
        background-color: white;
        list-style-type: disc;
    }

    .content-li1 {
        display: block;
        border-right: none;
    }
</style>

<h1>Προνόμια Ανέργων</h1>
<!--    ΦΟΡΜΑ ΠΡΟΣΩΠΙΚΩΝ ΣΤΟΙΧΕΙΩΝ    -->
<form>
    <h1>Μέσα μαζικής μεταφοράς</h1>

    <div class="contentform">
        <div id="sendmessage"> Τα στοιχεία σας καταχωρήθηκαν με επιτυχία </div>
        <ul class="content-ul1">
            <li class="content-li1">Δωρεάν Απεριόριστη Χρήση σε όλα τα μέσα ΜΜΜ της Αττικής.</li>
            <li class="content-li1">ΚΤΕΛ Θεσσαλονίκης: 35 ευρώ προς, 55 ευρώ επιστροφή.</li>
        </ul>      
    </div>
</form>
<form>
    <h1>Πολιτισμός</h1>

    <div class="contentform">
        <div id="sendmessage"> Τα στοιχεία σας καταχωρήθηκαν με επιτυχία </div>
        
        <ul class="content-ul1">
            <li class="content-li1">ΔΩΡΕΑΝ είσοδος σε μουσεία και αρχαιολογικούς χώρους</li>
            <li class="content-li1">Ster Cinemas: 5 ευρώ το εισιτήριο</li>
            <li class="content-li1">ODEON: Δευτέρα ως Παρασκευή, το εισιτήριο στα 6 ευρώ</li>
            <li class="content-li1">ΘΕΑΤΡΑ: Στις περισσότερες παραστάσεις υπάρχει μειωμένο εισιτήριο για ανέργους και φοιτητές.</li>
        </ul>
        
    </div>
</form>
<form>
    <h1>Εστίαση</h1>

    <div class="contentform">
        @*<div id="sendmessage"> Τα στοιχεία σας καταχωρήθηκαν με επιτυχία </div>*@
        <ul>
            <li class="content-li1">GOODYS: Τα Goody’s Burger House παρέχουν 10% έκπτωση προς τους ανέργους με κάρτα ανεργίας ΟΑΕΔ (Η έκπτωση ισχύει σε συγκεκριμένα καταστήματα)</li>
            <li class="content-li1">LA PASTERIA: Έχουν 20% έκπτωση με επίδειξη κάρτας ΟΑΕΔ</li>
            <li class="content-li1">EVEREST: 10% έκπτωση σε όλα τα προϊόντα</li>
            <li class="content-li1">B.Q.: Έκπτωση 20% σε ανέργους</li>
            <li class="content-li1">FLOCAFE: Υπάρχουν προσφορές για ανέργους αλλά εξαρτάται από το κατάστημα</li>
            <li class="content-li1">PIZZA FAN: 50% έκπτωση</li>
        </ul>
        
    </div>
</form>
<form>
    <h1>Εκπαίδευση</h1>

    <div class="contentform">
        <div id="sendmessage"> Τα στοιχεία σας καταχωρήθηκαν με επιτυχία </div>
        <ul>
            <li class="content-li1">
                ΙΙΕΚ ΑΚΜΗ, IΙΕΚ ΔΟΜΗ, ΙΙΕΚ ΔΕΛΤΑ, ΕΡΓΑΣΤΗΡΙ ΣΧΕΔΙΟΥ, INFOTECH, ΙΕΚ PRAXIS, IST COLLEGE:
                Υπάρχουν ειδικές τιμές για ανέργους, κατόπιν ραντεβού και ανάλογα την ειδικότητα
            </li>
            <li class="content-li1">KARIERA SEMINARS: Έκπτωση 15% σε όλους τους κατόχους κάρτας ανεργίας για οποιοδήποτε εκπαιδευτικό πρόγραμμα</li>
            <li class="content-li1">4W: Έκπτωση 10% στα προγράμματα Web Design</li>
            <li class="content-li1">ΕΥΡΩΔΙΑΣΤΑΣΗ ΚΕΝΤΡΑ ΞΕΝΩΝ ΓΛΩΣΣΩΝ: Έκπτωση 7% για ανέργους</li>
            <li class="content-li1">ΚΕΛΕ – ΚΕΝΤΡΟ ΛΟΓΙΣΤΙΚΩΝ ΕΦΑΡΜΟΓΩΝ: 15% στις τιμές των Προγραμμάτων μας και παροχή δωρεάν Εκπαιδευτικών Μηχανογραφικών Προγραμμάτων (ERP SOFTONE ΚΑΙ UNION)</li>
            <li class="content-li1">ΕΚΠΑΙΔΕΥΤΙΚΟΣ ΟΜΙΛΟΣ INTERGRAPHICS: Έκπτωση 25% στο αρχικό κόστος των διδάκτρων.</li>
            <li class="content-li1">CITY UNITY COLLEGE: 20% έκπτωση στο αρχικό κόστος των διδάκτρων για όλους τους ανέργους.</li>
            <li class="content-li1">ALPINE CENTER: 20% έκπτωση στο αρχικό κόστος των διδάκτρων για όλους τους ανέργους, οι οποίοι έχουν στην κατοχή τους κάρτα ανεργίας</li>
            <li class="content-li1">ΑΝΟΔΟΣ ΑΕ: Παρέχεται Έκπτωση 50% στο αρχικό κόστος εκμάθησης των εφαρμογών της Adobe</li>
            <li class="content-li1">COMPUTER STUDIES: Έκπτωση έως 30% για ανέργους</li>
            <li class="content-li1">CAD STUDIES: 20% στο αρχικό κόστος εκμάθησης για κάθε εξειδικευμένο εκπαιδευτικό πρόγραμμα</li>
        </ul>
         
    </div>
</form>
<form>
    <h1>Υπηρεσίες Υγείας</h1>

    <div class="contentform">
        <div id="sendmessage"> Τα στοιχεία σας καταχωρήθηκαν με επιτυχία </div>
        <ul>
            <li>ΕΥΡΩΚΛΙΝΙΚΗ ΑΘΗΝΩΝ: 2 δωρεάν ιατρικές εξετάσεις σε παθολόγο, ορθοπεδικό χειρουργό και καρδιολόγο</li>
            <li>ΕΥΡΩΚΛΙΝΙΚΗ ΠΑΙΔΩΝ:40% έκπτωση σε διαγνωστικές εξετάσεις και προνομιακές τιμές σε τσεκάπ</li>
            <li>MICROMEDICA ΕΠΕ ΜΙΚΡΟΒΙΟΛΟΓΙΚΟ ΔΙΑΓΝΩΣΤΙΚΟ ΚΕΝΤΡΟ:Έκπτωση 12-30% σε όλες τις τιμές</li>
            <li>ΠΛΑΤΩΝ Α.Ε.:Ειδικές τιμές στον τιμοκατάλογο για άνεργους</li>
        </ul>
    </div>
</form>
<form>
    <h1>Πληροφορική-Τηλεπικοινωνίες</h1>

    <div class="contentform">
        <div id="sendmessage"> Τα στοιχεία σας καταχωρήθηκαν με επιτυχία </div>
        <ul>
            <li>WIND: Έκπτωση 20% για νέες συνδέσεις</li>
            <li>COSMOTE: Έκπτωση 10% στο μηνιαίο πάγιο για 18 μήνες</li>
            <li>VODAFONE: Έκπτωση 15% στο μηνιαίο πάγιο</li>
        </ul>
    </div>
</form>
<form>
    <h1>Λιανικό εμπόριο</h1>

    <div class="contentform">
        <div id="sendmessage"> Τα στοιχεία σας καταχωρήθηκαν με επιτυχία </div>
        <ul>
            <li>ΑΦΟΙ ΚΟΛΟΜΒΟΥΝΗ:10% έκπτωση σε ψυγεία πλυντήρια-κλιματιστικά</li>
            <li>Π.ΤΑΒΟΥΛΑΡΗΣ Κ ΣΙΑ Ο.Ε. ΗΛΕΚΤΡΙΚΑ ΕΙΔΗ:ΑΠΟ 5% ΕΩΣ 20%</li>
            <li>ART Κ HOBBY Α.Ε. ΕΙΔΗ ΖΩΓΡΑΦΙΚΗΣ –ΧΕΙΡΟΤΕΧΝΙΑΣ:Έκπτωση 10%</li>
            <li>TRIUMPH:Εκπτώσεις σε συγκεκριμένη γκάμα προϊόντων</li>
            <li>PARANOIA:Έκπτωση 30% σε όλα τα προϊόντα</li>
        </ul>
    </div>
</form>

