
@{
    ViewBag.Title = "OAEDEpidomaAnergias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")

<style>
    #content-ul {
        background-color: white;
    }

    .content-li1 {
        display: block;
        border-right: none;
    }
</style>


<h1>Δικαιολογητικά για επίδομα ανεργίας</h1>
<form>
    <h1>Δικαιολογητικά</h1>

    <div class="contentform">
        <div id="sendmessage"> Τα στοιχεία σας καταχωρήθηκαν με επιτυχία </div>
        <ul id="content-ul">
            <li class="content-li1">
                Το έγγραφο της Καταγγελίας Σύμβασης Εργασίας ή βεβαίωση της Λήξης Σύμβασης Ορισμένου χρόνου
                (με πρωτότυπη σφραγίδα και υπογραφή εργοδότη).
            </li>
            <li class="content-li1">
                Το έντυπο «Βεβαίωση Εργοδότη» το οποίο συμπληρώνει ο εργοδότης σύμφωνα με τις εγγραφές της ΑΠΔ του
                τελευταίου τριμήνου πριν από την καταγγελία της σύμβασης εργασίας. Το έντυπο αυτό θα φέρει πρωτότυπη
                σφραγίδα και υπογραφή του εργοδότη
            </li>
            <li class="content-li1">
                Το οικογενειακό βιβλιάριο Ασθενείας, εφόσον έχει προστατευόμενα μέλη
                στην οικογένειά του, προκειμένου να του δοθεί η σχετική προσαύξηση.
            </li>
            <li class="content-li1">
                Το πλέον πρόσφατο Εκκαθαριστικό Σημείωμα Εφορίας ή εφόσον δεν υπάρχει,
                επικυρωμένο αντίγραφο της τελευταίας δήλωσης εισοδήματος.
            </li>
            <li class="content-li1">Την Αστυνομική του Ταυτότητα.</li>
            <li class="content-li1">Αποδεικτικό Διεύθυνσης Κατοικίας του ασφαλισμένου (π.χ. λογαριασμός ΔΕΗ, ΟΤΕ, ΕΥΔΑΠ).</li>
            <li class="content-li1">
                Λογαριασμό Εθνικής Τραπέζης (ΙΒΑΝ) στον οποίο είναι πρώτος δικαιούχος.
                Σε περίπτωση που δεν έχετε λογαριασμό στην Εθνική Τράπεζα, η Υπηρεσία μας σας δίνει Βεβαίωση για άνοιγμα
                λογαριασμού στην Εθνική Τράπεζα χωρίς καμία επιβάρυνση.
            </li>
            <li class="content-li1">Αν πρόκειται για πολίτες τρίτων χωρών: άδεια διαμονής και άδεια εργασίας σε ισχύ</li>
        </ul>
    </div>
</form>