
@{
    ViewBag.Title = "IKAEkdosiVivliariouYgeias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_EmployeeHeader")

<style>
    #content-ul {
        background-color: white;
        list-style-type: disc;
    }

    .content-li1 {
        display: block;
        border-right: none;
    }

</style>

<h1>Βιβλιάριο υγείας</h1>
<form>
    <h1>Δικαιολογητικά</h1>
</form>

<form>
    <h1>Άμεσα ασφαλισμένοι</h1>
    <div class="contentform">
        <ul id="content-ul">
            <li class="content-li1">Μία φωτογραφία ταυτότητας. </li><br/>
            <li class="content-li1">Αστυνομική ταυτότητα ή άλλο ισοδύναμο έγγραφο (Διαβατήριο κλπ).</li>
            <li class="content-li1">Εγγραφο που να αποδεικνύει με ασφάλεια την διεύθυνση κατοικίας του ασφ/νου (Λογαριασμος ΔΕΗ, ΟΤΕ, Εκκαθαριστικό Εφορίας κλπ).</li>
            <li class="content-li1">Βεβαίωση διαγραφής από άλλο φορέα ή Υπεύθυνη Δήλωση του Ν.1599/86 ότι δεν είναι ασφαλισμένος
            σε άλλο Ταμείο.</li>
        </ul>
    </div>
</form>
<form>
    <h1>Έμμεσα ασφαλισμένοι</h1>
    <div class="contentform">

        <ul id="content-ul">
            <li class="content-li1">
                Πιστοποιητικό οικογενειακής κατάστασης από Δημοτική Αρχή ή Ληξιαρχική Πράξη Γάμου
                για σύζυγο ή ταυτότητα και Ληξιαρχική Πράξη Γέννησης
                όσον αφορά τα τέκνα.
            </li>
            <li class="content-li1">Φωτογραφία (πρόσφατη).</li>
            <li class="content-li1">
                Για τέκνα άνω των 18 ετών που είναι άνεργα, Υ.Δ.,
                με δυνατότητα κάλυψης μέχρι την ηλικία των 24 ετών.
            </li>
            <li class="content-li1">
                Για τέκνα άνω των 24 ετών που είναι άνεργα
                και σπουδάζουν, βεβαίωση της οικείας σχολής, με δυνατότητα κάλυψης μέχρι της ηλικίας των 26 ετών.
            </li>
            <li class="content-li1">
                Για τέκνα που είναι άνεργα και έληξαν οι σπουδές τους, το πτυχίο, με δυνατότητα κάλυψης για
                δύο χρόνια μετά τη λήξη των σπουδών και όχι πέραν του 26ου έτους της ηλικίας τους.
            </li>
            <li class="content-li1">
                Για την απόδειξη των προϋποθέσεων της συγκατοίκησης και συντήρησης, εκκαθαριστικές φορολογικές
                δηλώσεις του άμεσα ασφαλισμένου και του μέλους οικογένειας ή οποιοδήποτε άλλο στοιχείο
                αποδεικνύει αυτές τις προϋποθέσεις.
            </li>
        </ul>


    </div>
</form>
