@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_EmployeeHeader")

<h1>Upload εγγράφου για επιβεβαίωση ανεργίας</h1>
@using (Html.BeginForm("OAEDUploadpage", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h1>Ανέβασε το αρχείο</h1>
            <div>
                @Html.TextBox("file", "", new { type = "file" }) <br />

                <input type="submit" value="Upload" />

                @ViewBag.Message
            </div>
}


