
@{
    ViewBag.Title = "OAEDEggrafiMitrwo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_EmployeeHeader")

<style>
    #content-ul {
        background-color: white;
    }

    .content-li1 {
        display: block;
        border-right: none;
    }
</style>


<h1>Εγγραφή στο μητρώο ανέργων</h1>
<!--    ΦΟΡΜΑ ΠΡΟΣΩΠΙΚΩΝ ΣΤΟΙΧΕΙΩΝ    -->
<form>
    <h1>Δικαιολογητικά</h1>

    <div class="contentform">
        <div id="sendmessage"> Τα στοιχεία σας καταχωρήθηκαν με επιτυχία </div>
        <ul id="content-ul">
            <li class="content-li1">
                Το τελευταίο εκκαθαριστικό σημείωμα φορολογίας εισοδήματος, ή ελλείψει αυτού, αντίγραφο κατατεθειμένης δήλωσης
                φορολογίας εισοδήματος – Ε1. Οι άνεργοι που εμφανίζονται ως εξαρτώμενα μέλη θα προσκομίζουν το τελευταίο εκκαθαριστικό
                σημείωμα φορολογίας εισοδήματος ή το Ε1 του ατόμου του οποίου τελούν υπό την προστασία καθώς και παραστατικό
                μέσω του οποίου δηλώνεται η άρση του λόγου εξάρτησης, όπου αυτό απαιτείται.Για όσους φορολογούμενους δεν είναι
                υπόχρεοι σε υποβολή δήλωσης φορολογίας εισοδήματος απαιτείται μόνο η κατάθεση συγκεκριμένου υποδείγματος
                υπεύθυνης δήλωσης του ν.1599/1986 , η οποία θα φέρει τη βεβαίωση του γνήσιου της υπογραφής του δηλούντος
            </li>
            <li class="content-li1">Λογαριασμό ΔΕΚΟ ή εταιρείας σταθερής τηλεφωνίας, ή αντίγραφο συμφωνητικού μίσθωσης κατοικίας, κατατεθειμένου στην αρμόδια Δ.Ο.Υ.</li>
            <li class="content-li1">Παραστατικό ταυτοπροσωπίας σε ισχύ (Δελτίο ταυτότητας, Διαβατήριο κ.λ.π.)</li>
            <li class="content-li1">Επίσημο έγγραφο από το οποίο θα προκύπτει ο ΑΜΚΑ</li>
            <li class="content-li1">Άδεια διαμονής ή εργασίας προκειμένου περί ανέργων πολιτών υπηκόων τρίτων χωρών.</li>
            <li class="content-li1">
                Η Υπηρεσία (ΚΠΑ2) διατηρεί το δικαίωμα να ζητήσει οποιοδήποτε δικαιολογητικό κατά την κρίση
                της θεωρείται απαραίτητο για τον έλεγχο ανεργίας.
            </li>
        </ul>
    </div>

</form>


