


<div class="dropdown">
    <button class="dropbtn">Υπηρεσίες ΟΑΕΔ</button>
    <div class="dropdown-content">
        <a href="#">Εγγραφή στο Μητρώο</a>
        <a href="#">Δικαιολογητικά για επίδομα</a>
        <a href="#">Upload Δικαιολογητικού</a>

    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Υπηρεσίες ΙΚΑ</button>
    <div class="dropdown-content">
        <a href="#">Δικαιολογητικά ΑΜΑ</a>
        <a href="#">Έκδοση Βιβλιαρίου</a>
    </div>
</div>
<div class="dropdown" style="float:right;">
    <button class="dropbtn">Λογαριασμός</button>
    <div class="dropdown-content">
        <a href="#">Προσωπικά στοιχεία</a>
        <a href="#">Επεξεργασία προσωπικών στοιχείων</a>
        <a href="#">Έξοδος</a>
    </div>
</div>

