<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cd905af9-e21e-4535-abf9-8a9a008ae585/resourcegroups/CodingBootcampGroup/providers/Microsoft.Web/sites/ePolitis20170607022424</ResourceId>
    <ResourceGroup>CodingBootcampGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://epolitis20170607022424.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>epolitis20170607022424.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ePolitis20170607022424</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ePolitis20170607022424</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyModel" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:coding-bootcamp-sql-server.database.windows.net,1433;Initial Catalog=ePolitis20170607022424_db;User ID=codingbootcampgr@coding-bootcamp-sql-server;Password=C0d1ngB00tc@mp" Name="Data Source=tcp:coding-bootcamp-sql-server.database.windows.net,1433;Initial Catalog=ePolitis20170607022424_db;User Id=codingbootcampgr@coding-bootcamp-sql-server;Password=C0d1ngB00tc@mp" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ePolitis.Models.MyModel, ePolitis" MigrationConfiguration="ePolitis.Migrations.Configuration, ePolitis" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:coding-bootcamp-sql-server.database.windows.net,1433;Initial Catalog=ePolitis20170607022424_db;User Id=codingbootcampgr@coding-bootcamp-sql-server;Password=C0d1ngB00tc@mp</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MyModel-Web.config Connection String">
      <ParameterValue>data source=tcp:coding-bootcamp-sql-server.database.windows.net,1433;initial catalog=ePolitis20170607022424_db;user id=codingbootcampgr@coding-bootcamp-sql-server;password=C0d1ngB00tc@mp;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>